body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:rgb(229, 229, 235);
    color: #333;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #090a0a;
}

.search {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005f99;
}

#weather {
    margin-top: 20px;
}

.forecast {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.forecast div {
    background: #e6f7ff;
    padding: 
}