ul {
    list-style: none;
}

.navbar {
    background-color: blueviolet;
    padding: 10px;
}

#list3 a {
    color: red; 
}



li::before {
    content: "*"; 
    color: orange;
    margin-right: 10px;
}

ul > li {
    font-size: 18px; 
}

ul ul li {
    color: yellow;
}

ul > li + li {                            
    background-color: lightblue; 
}

a {
    color: white;
    text-decoration: none;
}






