ul{
    list-style-type:none;
    
}


.navbar{
    background-color: pink;
    padding: 10px;
}

#contact{
     color: yellow;
     font-weight: bold;
}


nav ul > li::before {
    content: "•";
    color: red;
    margin-right: 5px;
}


ul > li {
    padding: 10px; 
    background-color: #f0f0f0; 
    margin-bottom: 5px;
}


